body {
	font-family: "Roboto";
}
.App {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 10px;
}

.wrapper {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	width: 45vw;
	height: 75vh;
}

.formWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

.fieldItem {
	height: 70px;
	/* padding: 10px; */
	width: 100%;
}

.formBody {
	margin: 10px;
	height: 63vh;
	overflow: auto;
	width: 44vw;
	scroll-behavior: auto;
}

.buttonWrapper {
	display: flex;
	height: 10vh;
	margin: 10px;
	justify-content: space-around;
}
